@import url('https://fonts.googleapis.com/css2?family=Fredoka:wdth,wght@99,300..700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Fredoka";
}

/* @import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap'); */


body{
    max-width: 1840px;
    background-color: #F2DCE0;
    /* border: 2px solid blue; */
}

#logo{
    width: 13rem;
    position: relative;
    left: -30px;
    top: -55px;
}

/* icones do header */
.icons-sections{
    width: 280px;
    color:#A61C4F;
}


/* seções do header */

.cabecario{
    background-color:#F2DCE0;
    z-index: 1;
    width: 100%;
    height: 80px;
    position: fixed;
    /* border: 2px solid red; */
}

ul{
    width: 900px;
    list-style: none;
    position: relative;
    top: -190px;
    left: 135px;
}

li{
    display: inline;
    padding: 10px;
}

li:hover{
    text-decoration: underline;
}

icons-sections:hover{
    background-color: #FA8FAF;
}

i{
    margin: 10px;
    display: inline-block;
}

.sections{
    color:#A61C4F;
    font-size: 25px;
    font-weight: 500;
    font-family: "Fredoka";
}



#hero{
    width: 100%;
    height: 45rem;
    /* border: 2px solid green; */
    background-color: #A61C4F;

}

span, p{
    /* border: 2px solid red; */
    color: #F2DCE0;
}

span{
    font-size: 40px;
    font-weight: 500;
    position: absolute;
    left: 12rem;
    top: 18rem;
    padding: 0px;
}

p{
    font-size: 20px;
    position: absolute;
    left: 12rem;
    top: 22rem;
}

#botaoSobreMim,#botaoCurios{
    color: #F2DCE0;
    background-color: #D90754;
    border-radius: 20px;
    border-color: #A61C4F;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

#botaoSobreMim{
    font-size: 30px;
    padding: 10px;
    position: absolute;
    left: 12rem;
    top: 26rem;

}
#botaoSobreMim:hover, #botaoCurios:hover{
    background-color: #FA8FAF;
    transform: scale(1.05);
}

#foto-hero{
    position: absolute;
    left: 52rem;
    top: 9rem;
}

#SobreMim{
    /* border: 8px solid red; */
    position: relative;
    top: 0px;
    width: 99%;
    height: 43rem;
}

#titulo-sm{
    color:#A61C4F;
    font-weight: bolder;
    font-size: 32px;
    position: absolute;
    left: 750px;
    top: 120px;
}

#subtitulo-sm{
    color:#A61C4F;
    font-weight:400;
    font-size: 18px;
    position: absolute;
    left: 750px;
    top: 155px;
}

#p1-sm{
    color: #A61C4F;
    width: 400px;
    font-size: 18px;
    position: relative;
    left: 750px;
    top: 12rem;
    padding: 10px;
    border: 3px solid #A61C4F;
    border-radius: 20px;
    text-align: justify;

}


#p2-sm{
    color: #A61C4F;
    width: 400px;
    font-size: 18px;
    position: relative;
    left: 850px;
    top: 14rem;
    padding: 10px;
    border: 3px solid #A61C4F;
    border-radius: 20px;

}


#ft-sobremim{
    /* background-color: #A61C4F; */
    position: relative;
    right: 10px;
    border: 5px solid #A61C4F;
    border-radius: 20px;
    padding: 10px;
    position: absolute;
    left: 280px;
    bottom: 80px;
}

/*
#borda{
    border: 5px solid #A61C4F;
    border-radius: 20px;
    width: 300px;
    height: 500px;
    position: absolute;
    left: 200px;
}
*/

#botaoCurios{
    padding: 10px;
    position: absolute;
    left: 330px;
    top: 600px;
    font-size: 25px;
    
}

#flor-deco{
    width: 130px;
    position: relative;
    left: 217px;
    top: -200px;
}

#musicafav{
    width: 300px;
    position: relative;
    left: 980px;
    top: 20px;
}

/* curiosidades */
#Curiosidades{
    z-index: 10;
    color: #A61C4F;
    position: relative;
    top: 0px;
    width: 99%;
    height: 43rem;
}