* {
    margin: 0;
    padding: 0;
}

.externo{
    height: 100vw;
    width: 100%;
    background-image: linear-gradient(to right, #0a7f70, #0a7f80);
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    color:aquamarine;
    position: relative;
    padding-top: 300px;
    padding-left: 300px;
}   